<div class="card">
    <div class="row align-items-center">
        <div class="col-md-8 mb-3 mb-sm-0">
            <h5>
                <a href="thread/@Author/@Route" class="text-primary">@Title</a>
            </h5>
            <p class="text-sm">
                <span class="op-6">Posted</span> 
                <a class="text-black" href="#">@Date</a> 
                <span class="op-6">by</span> 
                <a class="text-black" href="#">@Author</a>
            </p>
            <div class="text-sm op-5"> 
                <a class="text-black mr-2" href="#">#C++</a> 
                <a class="text-black mr-2" href="#">#AppStrap Theme</a> 
                <a class="text-black mr-2" href="#">#Wordpress</a> 
            </div>
        </div>
        <div class="col-md-4 op-7">
            <div class="row text-center op-7">
                <div class="col px-1"> <i class="oi oi-thumb-up icon-1x like"></i> <span class="d-block text-sm">@Votes</span> </div>
                <div class="col px-1"> <i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">@Replies</span> </div>
                <div class="col px-1"> <i class="ion-ios-eye-outline icon-1x"></i> <span class="d-block text-sm">@Views</span> </div>
            </div>
        </div>
    </div>
</div>

@code{
    [Parameter]
    public string Route { get; set; }
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Date{ get; set; }
    [Parameter]
    public string Author { get; set; }
    [Parameter]
    public string Votes { get; set; }
    [Parameter]
    public string Replies { get; set; }
    [Parameter]
    public string Views { get; set; }
}