@page "/ForumCategories"
@using SharpScape.Website.Services
@using SharpScape.Shared.Dto
@inject HttpClient Http

<h1>Forum Category</h1>

  <button @onclick="@AddCategory" class="btn btn-sm btn-danger btn-delete-user">
                            --add Category--
                        </button>
@if(add)
{
     
    <EditForm model="@tempForum" OnSubmit="@Save">
    <div class="form-group row">
            <label class="col-sm2 col-form-label" for="ForumCategoryName"> Name:</label>

            <div class="col-sm-5">


                <InputText class="form-control" @bind-Value="tempForum.ForumCategoryName" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm2 col-form-label" for="Description">Description:</label>
            <div class="col-sm-5">


                <InputText class="form-control" @bind-Value="tempForum.ForumCategoryDescription" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm2 col-form-label" for="CategoryAuthor">Author:</label>
            <div class="col-sm-5">


                <InputText class="form-control" @bind-Value="tempForum.ForumCategoryAuthor" />
            </div>
        </div>





        <input type="submit" class="btn btn-primary" value="Save" />
        </EditForm>
}


<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 20%"> Name</th>
            <th style="width: 20%">Id</th>
            <th style="width: 35%">Description</th>
            <th style="width: 25%">Author</th>
            
        </tr>
    </thead>
    <tbody>
        @if (forums != null)
        {
            foreach (var forumCategory in forums)
            {
                <tr>
                    <td>@forumCategory.ForumCategoryName</td>
                    <td>@forumCategory.Id</td>
                    <td>@forumCategory.ForumCategoryDescription</td>
                    <td>@forumCategory.ForumCategoryAuthor</td>
                    <td style="white-space: nowrap">

                        <button @onclick="@(() => DeleteCategory(forumCategory))" class="btn btn-sm btn-danger btn-delete-user">
                            --delete--
                        </button>
                    </td>

                </tr>
            }
        }
        @if (loading)
        {
            <tr>
                <td colspan="4" class="text-center">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {

    protected override async Task OnInitializedAsync()
    {
        loading = true;
       forums = await Http.GetFromJsonAsync<List<ForumCategoryDto>>("https://localhost:7193/api/ForumCategories");
        forums.Add(new ForumCategoryDto() { Id = Guid.NewGuid(), ForumCategoryName = "Category Name 11", ForumCategoryDescription = "Category Description 11", ForumCategoryAuthor = "Category Author 1" });

        loading = false;
    }




    public ForumCategoryDto tempForum = new ForumCategoryDto();
    private bool loading;

    private bool add = false;

    public IList<ForumCategoryDto> forums = new List<ForumCategoryDto>();
    




    private async void DeleteCategory(ForumCategoryDto x)
    {
        forums.Remove(x);
        StateHasChanged();
    }

    private async void AddCategory()
    {

      
        add = true;
        StateHasChanged();


    }
    private async void Save()
        {
        tempForum.Id =Guid.NewGuid();
        forums.Add(tempForum);
        add = false;
        StateHasChanged();

        }

}