@page "/register"
@using SharpScape.Shared.Dto

<style>
    .form-section
    {
        max-width: 40rem;
        margin: auto;
    }
</style>

<div class="form-section">
    <EditForm model="@tUser" OnValidSubmit="@HandleValidSubmit">
        <h1>Create an account</h1>

        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group row">
            <label class="col-sm2 col-form-label" for="Username">Username:</label>
            <InputText class="form-control mx-2" @bind-Value="tUser.Username" />
        </div>

        <div class="form-group row">
            <label class="col-sm2 col-form-label" for="Email">Email:</label>
            <InputText class="form-control mx-2" @bind-Value="tUser.Email" />
        </div>

        <div class="form-group row">
            <label class="col-sm2 col-form-label" for="Password">Password:</label>
            <InputText type="password" class="form-control mx-2" @bind-Value="tUser.Password" />
        </div>

        @* TODO: Add avatar information *@
        @* <div class="form-group row">
            <label class="col-sm2 col-form-label" for="Avatar">HERO:</label>
            <div class="col-sm-5">
                <InputText class="form-control" @bind-Value="tUser.Avatar" />
            </div>
        </div> *@

        <div class="d-flex justify-content-between align-items-baseline mt-2">
            <input type="submit" class="btn btn-primary" value="Register" />
            <a href="/login">Already have an account?</a>
        </div>
    </EditForm>

    @if (SubmitResult == true)
    {
        <span>
            Last submit status: @tUser.Username @tUser.Email register @* as @tUser.Avatar *@
        </span>
    }
</div>


@code
{
    UserRegisterDto tUser = new UserRegisterDto();
    bool SubmitResult = false;
    void HandleValidSubmit()
    {
        SubmitResult = true;
    }
}